@font-face {
    font-family: Graduate;
    src: url(font/Graduate-Regular.ttf) format("truetype");
}

/*Generale*/

body{
    font-family: Graduate;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: #FF5959;
}

h2{
    text-align: center;
    margin: 0;
}

h3{
    display: inline;
}

p{
    display: inline;
}

hr{
    border: 2px black solid
}

header{
    position: relative;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.box{
    position: relative;
    width: 100%;
    height: 100%;
}

.back-header{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60%;
    background-color: white;
}

.front-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-footer{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 80%;
    background-color: aqua;
}

.back-header img, .front-header div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lines{
    width: 100%;
}

.in-line-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.in-line-div a{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.menu-header{
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-left, .menu-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 40%;
}

.menu-left div, .menu-right div{
    border: 2px black solid;
}

.dynamic-selectors{
    transition-duration: 1000ms;
    transition-property: transform;
}

.dynamic-selectors:hover{
    transform: translateY(20px);
}

#mask{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px black solid;
    background-color: black;
}

/*Home*/

#middle-slice p{
    margin-left: 5%;
    margin-right: 5%;
}

/*Contatti*/

#contenitore_profili{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.profilo_box{
    width: 300px;
    height: 350px;
    border: 2px black solid;
}

.profilo_box p{
    margin-left: 5px;
    margin-right: 5px;
}

.profilo_box div{
    margin: auto;
    width: 100px;
    height: 100px;
}

.profilo_box div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Altre pagine*/

.middle_box{
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px black solid;
    margin-bottom: 10px;
}

.article{
    flex-grow: 2;
    width: 88%;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
    overflow-wrap: break-word;
}

.article a{
    width: fit-content;
}

.article h2, .article p{
    text-align: left;
    margin: 0;
}
